<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Cadastrados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
  </head>
  <body>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul id="messages" class="list-unstyled">
                {% for message in messages %}
                    <li class="alert alert-success">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <div class="page-header">
            <h1> {{ titulo }} </h1>
        </div>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Endereço</th>
                    <th>Cidade</th>
                    <th>Estado</th>
                    <th>Número</th>
                    <th>Complemento</th>
                    <th>Profissão</th>
                    <th>Currículo</th>
                </tr>
            </thead>
            <tbody>
                {% for pessoa in cadastro %}
                        <tr>
                            <td>{{ pessoa.nome }}</td>
                            <td>{{ pessoa.email }}</td>
                            <td>{{ pessoa.telefone }}</td>
                            <td>{{ pessoa.endereco }}</td>
                            <td>{{ pessoa.cidade }}</td>
                            <td>{{ pessoa.estado }}</td>
                            <td>{{ pessoa.numero }}</td>
                            <td>{{ pessoa.complemento }}</td>
                            <td>{{ pessoa.profissao }}</td>
                            <td>{{ pessoa.curriculo }}</td>
                        </tr>
                {% endfor %}

            </tbody>
        </table>
        <a href="{{ url_for('inicio') }}" style="float: right;" class="btn btn-primary">Cadastrar</a>
    </div>
  </body>
</html>